.clear{clear: both;}

#nav{  width: 100%;
    position: relative;
}
.img{
	background-image: url('img/fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  min-height: 529px;
  position: relative;
}
h1{
	font-family: 'Cabin Sketch', cursive;
	font-size: 80px;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
#container {
    background-color: grey;
    width: 100%;
    overflow: hidden;
}
.bloc {
    float: left;
	width: 33%;
}